<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Distributed File System{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <h1>Distributed file system</h1>
                <ul>
                    <li><a href="{{ url_for('index') }}">Main</a></li>
                    <li><a href="{{ url_for('files') }}">Files</a></li>
                    <li><a href="{{ url_for('upload') }}">Upload</a></li>
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('logout')}}">Logout</a></li>
                    {% else %}
                    <li><a href="{{ url_for('login')}}">Login</a></li>
                    <li><a href="{{ url_for('register')}}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <main class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="message">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="container">
            <p>&copy; Spring 2025 Distributed file system</p>
        </div>
    </footer>
</body>
</html>
